<!-- FOOTER
    ================================================== -->
<div class="footer full-width">
    <div class="background-footer"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">

                <div class="advanced-grid advanced-grid-49075166  "
                     style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                    <div style="">
                        <div class="container">
                            <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row footer-blocks-top">
                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="./Your Store_files/icon-mail.png" alt="Mail">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 17px;color: #6d7156;line-height: 1.3">Do
                                                            you have any question?</h6>
                                                        <p>email.example@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="./Your Store_files/icon-phone.png" alt="Phone">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 17px;color: #f8a72b;line-height: 1.3">
                                                            800-140-100</h6>
                                                        <p>Mon - Fri: 8:00 - 17:00</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <a href="http://fastortheme.com/military/index.php?route=information/contact"
                                                   class="footer-button">Contact form</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="footer-about-us">
                                            <img src="./Your Store_files/logo-footer.png" alt="Fastor">
                                            <h6 style="color: #6d7156">PO Box 16122 Collins Street <br>Victoria 8007
                                                Australia</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>Information</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=information/information&amp;information_id=4">About
                                                            us</a></li>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=information/information&amp;information_id=6">Delivery
                                                            information</a></li>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=information/information&amp;information_id=3">Privacy
                                                            Policy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>My account</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=account/account">My
                                                            account</a></li>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=account/order">Order
                                                            History</a></li>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=account/wishlist">Wish
                                                            List</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>Custom links</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=information/information&amp;information_id=5">Terms
                                                            &amp; Conditions</a></li>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=information/contact">Contact
                                                            Us</a></li>
                                                    <li>
                                                        <a href="http://fastortheme.com/military/index.php?route=information/sitemap">Sitemap</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row footer-blocks-bottom">
                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="./Your Store_files/icon-free-shipping.png"
                                                         alt="Free shipping">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 16px;color: #6d7156;line-height: 1.4">Free
                                                            shipping &amp; Return</h6>
                                                        <p>For all orders over $500</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="./Your Store_files/icon-money.png" alt="Money back">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 16px;color: #f8a72b;line-height: 1.4">
                                                            Money back guarantee</h6>
                                                        <p>100% money back guarante</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="./Your Store_files/icon-support.png" alt="Support">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 16px;color: #54524e;line-height: 1.4">
                                                            Support 24/7</h6>
                                                        <p>We answer for question all time</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="text-align: center">Copyright © 2016, Your Store, All Rights Reserved.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./Your Store_files/megamenu.js"></script>
</div>
</div>

<div class="nav-collapse collapse" style="visibility:hidden;position:fixed" id="cwspear-is-awesome">.
</div>
</body>
</html>