
<!-- MAIN CONTENT
	================================================== -->
<div class="main-content full-width home">
	<div class="background-content"></div>
	<div class="background">
		<div class="shadow"></div>
		<div class="pattern">
			<div class="container">
												
								<div class="row">
					<div class="col-sm-12">
						<div class="box clearfix box-with-products  box-no-advanced">
  	
  <div class="box-heading">Latest products</div>
  <div class="strip-line"></div>
  <div class="clear"></div>
  <div class="box-content products">
    <div class="box-product">
    	<div id="myCarousel39958185">
    		<!-- Carousel items -->
    		<div class="carousel-inner">
    				    			<div class="active item"><div class="product-grid"><div class="row">	    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
									 <div class="new">New</div>
			 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=49">
					 
										<img src="./Your Store_files/samsung_tab_1-200x200.jpg" alt="Samsung Galaxy Tab 10.1" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=49">Samsung Galaxy Tab 10.1</a></div>
				<div class="price">
						$241.99					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a href="javascript:openPopup(&#39;10&#39;, &#39;49&#39;)" data-toggle="tooltip" data-original-title="Request quote!"><i class="fa fa-question"></i></a></li>

		          		     
								<li><a onclick="compare.add(&#39;49&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;49&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    				    				    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
									 <div class="new">New</div>
			 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=48">
					 
										<img src="./Your Store_files/ipod_classic_1-200x200.jpg" alt="iPod Classic" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=48">iPod Classic</a></div>
				<div class="price">
						$122.00					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;48&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;48&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;48&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    				    				    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
									 <div class="new">New</div>
			 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=47">
					 
										<img src="./Your Store_files/hp_1-200x200.jpg" alt="HP LP3065" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=47">HP LP3065</a></div>
				<div class="price">
						$122.00					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;47&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;47&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;47&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    				    				    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
								
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=46">
					 
										<img src="./Your Store_files/sony_vaio_1-200x200.jpg" alt="Sony VAIO" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=46">Sony VAIO</a></div>
				<div class="price">
						$1,202.00					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;46&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;46&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;46&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    			    			</div></div></div>    		</div>
		</div>
    </div>
  </div>
</div>
 <div class="row banners">
   <div class="col-sm-6"><a href="http://fastortheme.com/military/#"><img src="./Your Store_files/banner-04.png" alt="Image"></a></div>
   <div class="col-sm-6"><a href="http://fastortheme.com/military/#"><img src="./Your Store_files/banner-05.png" alt="Image"></a></div>
 </div><div class="box clearfix box-with-products  box-no-advanced">
  	
  <div class="box-heading">Featured products</div>
  <div class="strip-line"></div>
  <div class="clear"></div>
  <div class="box-content products">
    <div class="box-product">
    	<div id="myCarousel48348171">
    		<!-- Carousel items -->
    		<div class="carousel-inner">
    				    			<div class="active item"><div class="product-grid"><div class="row">	    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
																							<div class="sale">-10%</div>
							 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=42">
					 
										<img src="./Your Store_files/apple_cinema_30-200x200.jpg" alt="Apple Cinema 30&quot;" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=42">Apple Cinema 30"</a></div>
				<div class="price">
						<span class="price-old">$122.00</span> <span class="price-new">$110.00</span>
					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;42&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;42&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;42&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    				    				    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
																							<div class="sale">-20%</div>
							 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=30">
					 
										<img src="./Your Store_files/canon_eos_5d_1-200x200.jpg" alt="Canon EOS 5D" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></div>
				<div class="price">
						<span class="price-old">$122.00</span> <span class="price-new">$98.00</span>
					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;30&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;30&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;30&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    				    				    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
									 <div class="new">New</div>
			 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=47">
					 
										<img src="./Your Store_files/hp_1-200x200.jpg" alt="HP LP3065" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=47">HP LP3065</a></div>
				<div class="price">
						$122.00					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;47&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;47&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;47&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    				    				    				    			<div class="col-sm-3 col-xs-6  ">
	    				
<!-- Product -->
<div class="product clearfix product-hover">
	<div class="left">
									 <div class="new">New</div>
			 			
			<div class="image ">
				<a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=48">
					 
										<img src="./Your Store_files/ipod_classic_1-200x200.jpg" alt="iPod Classic" class="">
									</a>
			</div>
					</div>
	<div class="right">
		<div class="name"><a href="http://fastortheme.com/military/index.php?route=product/product&amp;product_id=48">iPod Classic</a></div>
				<div class="price">
						$122.00					</div>
				<div class="only-hover">
		     <ul>
		          		               		               <li><a onclick="cart.add(&#39;48&#39;);" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
		               		          		          
		          		     
								<li><a onclick="compare.add(&#39;48&#39;);" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>
								
								<li><a onclick="wishlist.add(&#39;48&#39;);" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
							</ul>
		</div>
			</div>
</div>	    			</div>
    			    			</div></div></div>    		</div>
		</div>
    </div>
  </div>
</div>

     <div class="advanced-grid advanced-grid-2302668  hidden-xs hidden-sm" style="margin-top: 60px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                    <div style="background-color: #3e3c38;background-image: url(image/catalog/military/bg-newsletter.png);background-position: top left;background-repeat: no-repeat;background-attachment: scroll;">                         <div class="container">
                    <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                         <div class="row">
                                                                                                                                  <div class="col-sm-12">
                                                                                     <div class="military-newsletter clearfix" id="newsletter2302668">
     <div class="left">
          <div class="heading">Subscribe to our Newsletter</div>
          <p><span style="color: #f8a72b">Get 25% discount for first buy</span></p>
     </div>
     
     <div class="inputs">
          <input type="text" class="email" placeholder="your e-mail">
          <a class="button subscribe">Ok</a>
     </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	function Unsubscribe() {
		$.post('http://fastortheme.com/military/index.php?route=module/newsletter/unsubscribe', 
			{ 
				email: $('#newsletter2302668 .email').val() 
			}, function (e) {
				$('#newsletter2302668 .email').val('');
				alert(e.message);
			}
		, 'json');
	}
	
	function Subscribe() {
		$.post('http://fastortheme.com/military/index.php?route=module/newsletter/subscribe', 
			{ 
				email: $('#newsletter2302668 .email').val() 
			}, function (e) {
				if(e.error === 1) {
					var r = confirm(e.message);
					if (r == true) {
					    $.post('http://fastortheme.com/military/index.php?route=module/newsletter/unsubscribe', { 
					    	email: $('#newsletter2302668 .email').val() 
					    }, function (e) {
					    	$('#newsletter2302668 .email').val('');
					    	alert(e.message);
					    }, 'json');
					}
				} else {
					$('#newsletter2302668 .email').val('');
					alert(e.message);
				}
			}
		, 'json');
	}
	
	$('#newsletter2302668 .subscribe').click(Subscribe);
	$('#newsletter2302668 .unsubscribe').click(Unsubscribe);
	$('#newsletter2302668 .email').keypress(function (e) {
	    if (e.which == 13) {
	        Subscribe();
	    }
	});
});
</script>	
                                                                                                                        </div>
                                                       </div>
                    </div>
               </div>
          </div>
          
               </div>

					</div>
				</div>
								
				<div class="row">				
															<div class="col-md-12">
												
						<div class="row">
														<div class="col-md-12">
															</div>
							
													</div>
					</div>
				</div>
				
				<div class="row">	
					<div class="col-sm-12">	
													
     <div class="advanced-grid advanced-grid-225941037  hidden-xs hidden-sm" style="margin-top: 152px; margin-bottom: 61px; width: 1423px; left: -96.5px;">
                    <div style="background-color: #161616;background-image: url(image/catalog/military/bg-banner-sale.png);background-position: top left;background-repeat: no-repeat;background-attachment: scroll;">                         <div class="container" style="padding-left: 96.5px; padding-right: 96.5px;">
                    <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                         <div class="row">
                                                                                                                                  <div class="col-sm-12">
                                                                                                                                       <div class="banner-big-sale">
   <h3 style="color: #4d5135">Check all<br>products on SALE!</h3>
   <a href="http://fastortheme.com/military/#" class="button">Read more</a>
   <img src="./Your Store_files/banner-big-sale.png" alt="Big sale" style="position:absolute;bottom: -51px;right:157px">
</div>                                                                                                                        </div>
                                                       </div>
                    </div>
               </div>
          </div>
          
               </div>

<script type="text/javascript">
     function force_full_width_225941037() {
          var p = $(".standard-body .full-width .advanced-grid-225941037");
          if(p.size() > 0) {
               p.width($('body').width());
               p.css("left", "0px");
               var position = p.offset();
               p.css("left", "-" + position.left + "px");
               p.find(".container").css("padding-left", position.left);
               p.find(".container").css("padding-right", position.left);
          }
          
          var s = $(".standard-body .fixed .advanced-grid-225941037");
          if(s.size() > 0) {
               s.width($('.standard-body .fixed .pattern').width());
               s.css("left", "0px");
               var position = s.offset();
               var position2 = $('.standard-body .fixed .pattern').offset();
               var position3 = position.left-position2.left;
               s.css("left", "-" + position3 + "px");
               s.find(".container").css("padding-left", position3);
               s.find(".container").css("padding-right", position3);
          }
          
          var b = $(".standard-body .fixed2 .advanced-grid-225941037");
          if(b.size() > 0) {
               b.width($('body').width());
               b.css("left", "0px");
               var position = b.offset();
               b.css("left", "-" + position.left + "px");
               b.find(".container").css("padding-left", position.left);
               b.find(".container").css("padding-right", position.left);
          }
          
          var c = $(".fixed-body .advanced-grid-225941037");
          if(c.size() > 0) {
               c.width($('.fixed-body .main-fixed').width());
               c.css("left", "0px");
               var position = c.offset();
               var position2 = $('.fixed-body .main-fixed').offset();
               var position3 = position.left-position2.left;
               c.css("left", "-" + position3 + "px");
               c.find(".container").css("padding-left", position3);
               c.find(".container").css("padding-right", position3);
          }
     }
     
     force_full_width_225941037();
     
     $(window).resize(function() {
          force_full_width_225941037();
     });
</script>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>

	
