{{ header }}
<!-- MAIN CONTENT
	================================================== -->
<div class="main-content full-width home">
    <div class="background-content"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">


                            {{ content_top }}

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <div style="height: 10px" class="hidden-xs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}