{{ header }}
<!-- MAIN CONTENT
	================================================== -->
<div class="main-content full-width home">
    <div class="background-content"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        {#<div class="row banners banners-with-padding-0-2">#}
                            {#<div class="col-sm-3 col-xs-6"><a href="#"><img src="image/catalog/medic/banner-01.png" alt="Image"></a></div>#}
                            {#<div class="col-sm-3 col-xs-6"><a href="#"><img src="image/catalog/medic/banner-02.png" alt="Image"></a></div>#}
                            {#<div class="col-sm-3 col-xs-6"><a href="#"><img src="image/catalog/medic/banner-03.png" alt="Image"></a></div>#}
                            {#<div class="col-sm-3 col-xs-6"><a href="#"><img src="image/catalog/medic/banner-04.png" alt="Image"></a></div>#}
                        {#</div>#}

                        <a href="#" class="check-all-specialties">Check all specialties</a><div class="box clearfix box-with-products  box-no-advanced">
                            {{ content_top }}
                            {#<div class="box-heading">Featured products</div>#}
                            {#<div class="strip-line"></div>#}
                            {#<div class="clear"></div>#}
                            {#<div class="box-content products">#}
                                {#<div class="box-product">#}
                                    {#<div id="myCarousel28359870">#}
                                        {#<!-- Carousel items -->#}
                                        {#<div class="carousel-inner">#}
                                            {#<div class="active item"><div class="product-grid"><div class="row">	    				    			<div class="col-sm-3 col-xs-6  ">#}

                                                            {#<!-- Product -->#}
                                                            {#<div class="product clearfix product-hover">#}
                                                                {#<div class="left">#}
                                                                    {#<div class="sale">Sale</div>#}

                                                                    {#<div class="image ">#}
                                                                        {#<a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=42">#}

                                                                            {#<img src="http://fastortheme.com/m edic/image/cache/catalog/demo/apple_cinema_30-200x200.jpg" alt="Apple Cinema 30&quot;" class="">#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                    {#<script>#}
                                                                        {#$(function () {#}
                                                                            {#var austDay = new Date();#}
                                                                            {#austDay = new Date(2020, 06 - 1, 27);#}
                                                                            {#$('#countdown7918274').countdown({until: austDay});#}
                                                                        {#});#}
                                                                    {#</script>#}
                                                                    {#<div id="countdown7918274" class="clearfix is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">49</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">12</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">2</span><span class="countdown-period">Min</span></span><span class="countdown-section"><span class="countdown-amount">43</span><span class="countdown-period">Sec</span></span></span></div>#}
                                                                {#</div>#}
                                                                {#<div class="right">#}
                                                                    {#<div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=42">Apple Cinema 30"</a></div>#}
                                                                    {#<div class="price">#}
                                                                        {#<span class="price-old">$122.00</span> <span class="price-new">$110.00</span>#}
                                                                    {#</div>#}
                                                                    {#<div class="only-hover">#}
                                                                        {#<ul>#}
                                                                            {#<li><a onclick="cart.add('42');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>#}


                                                                            {#<li><a onclick="compare.add('42');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>#}

                                                                            {#<li><a onclick="wishlist.add('42');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>#}
                                                                        {#</ul>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>	    			</div>#}
                                                        {#<div class="col-sm-3 col-xs-6  ">#}

                                                            {#<!-- Product -->#}
                                                            {#<div class="product clearfix product-hover">#}
                                                                {#<div class="left">#}
                                                                    {#<div class="sale">Sale</div>#}

                                                                    {#<div class="image ">#}
                                                                        {#<a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=30">#}

                                                                            {#<img src="http://fastortheme.com/medic/image/cache/catalog/demo/canon_eos_5d_1-200x200.jpg" alt="Canon EOS 5D" class="">#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="right">#}
                                                                    {#<div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></div>#}
                                                                    {#<div class="price">#}
                                                                        {#<span class="price-old">$122.00</span> <span class="price-new">$98.00</span>#}
                                                                    {#</div>#}
                                                                    {#<div class="only-hover">#}
                                                                        {#<ul>#}
                                                                            {#<li><a onclick="cart.add('30');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>#}


                                                                            {#<li><a onclick="compare.add('30');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>#}

                                                                            {#<li><a onclick="wishlist.add('30');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>#}
                                                                        {#</ul>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>	    			</div>#}
                                                        {#<div class="col-sm-3 col-xs-6  ">#}

                                                            {#<!-- Product -->#}
                                                            {#<div class="product clearfix product-hover">#}
                                                                {#<div class="left">#}
                                                                    {#<div class="new">New</div>#}

                                                                    {#<div class="image ">#}
                                                                        {#<a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=47">#}

                                                                            {#<img src="http://fastortheme.com/medic/image/cache/catalog/demo/hp_1-200x200.jpg" alt="HP LP3065" class="">#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="right">#}
                                                                    {#<div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=47">HP LP3065</a></div>#}
                                                                    {#<div class="price">#}
                                                                        {#$122.00					</div>#}
                                                                    {#<div class="only-hover">#}
                                                                        {#<ul>#}
                                                                            {#<li><a onclick="cart.add('47');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>#}


                                                                            {#<li><a onclick="compare.add('47');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>#}

                                                                            {#<li><a onclick="wishlist.add('47');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>#}
                                                                        {#</ul>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>	    			</div>#}
                                                        {#<div class="col-sm-3 col-xs-6  ">#}

                                                            {#<!-- Product -->#}
                                                            {#<div class="product clearfix product-hover">#}
                                                                {#<div class="left">#}
                                                                    {#<div class="new">New</div>#}

                                                                    {#<div class="image ">#}
                                                                        {#<a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=48">#}

                                                                            {#<img src="http://fastortheme.com/medic/image/cache/catalog/demo/ipod_classic_1-200x200.jpg" alt="iPod Classic" class="">#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                                {#<div class="right">#}
                                                                    {#<div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=48">iPod Classic</a></div>#}
                                                                    {#<div class="price">#}
                                                                        {#$122.00					</div>#}
                                                                    {#<div class="only-hover">#}
                                                                        {#<ul>#}
                                                                            {#<li><a onclick="cart.add('48');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>#}


                                                                            {#<li><a onclick="compare.add('48');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>#}

                                                                            {#<li><a onclick="wishlist.add('48');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>#}
                                                                        {#</ul>#}
                                                                    {#</div>#}
                                                                {#</div>#}
                                                            {#</div>	    			</div>#}
                                                    {#</div></div></div>    		</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>

                        <div class="advanced-grid advanced-grid-52991896  hidden-xs hidden-sm" style="margin-top: 60px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                            <div style="background-color: #ededed;">               <div class="container">
                                    <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="newsletter medic-newsletter clearfix row" id="newsletter52991896">
                                                    <div class="col-sm-4">
                                                        <div class="heading">
                                                            <img src="image/catalog/medic/icon-newsletter.png" alt="Newsletter">
                                                            <p>Subscribe to<br>our newsletter</p>
                                                        </div>
                                                    </div>

                                                    <div class="content col-sm-4">
                                                        <p> Sign in to our newsletter and receive coupon </p>
                                                    </div>

                                                    <div class="inputs col-sm-4">
                                                        <input type="text" class="email" placeholder="your e-mail">
                                                        <a class="button btn-default subscribe">Ok</a>
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    $(document).ready(function() {
                                                        function Unsubscribe() {
                                                            $.post('http://fastortheme.com/medic/index.php?route=module/newsletter/unsubscribe',
                                                                {
                                                                    email: $('#newsletter52991896 .email').val()
                                                                }, function (e) {
                                                                    $('#newsletter52991896 .email').val('');
                                                                    alert(e.message);
                                                                }
                                                                , 'json');
                                                        }

                                                        function Subscribe() {
                                                            $.post('http://fastortheme.com/medic/index.php?route=module/newsletter/subscribe',
                                                                {
                                                                    email: $('#newsletter52991896 .email').val()
                                                                }, function (e) {
                                                                    if(e.error === 1) {
                                                                        var r = confirm(e.message);
                                                                        if (r == true) {
                                                                            $.post('http://fastortheme.com/medic/index.php?route=module/newsletter/unsubscribe', {
                                                                                email: $('#newsletter52991896 .email').val()
                                                                            }, function (e) {
                                                                                $('#newsletter52991896 .email').val('');
                                                                                alert(e.message);
                                                                            }, 'json');
                                                                        }
                                                                    } else {
                                                                        $('#newsletter52991896 .email').val('');
                                                                        alert(e.message);
                                                                    }
                                                                }
                                                                , 'json');
                                                        }

                                                        $('#newsletter52991896 .subscribe').click(Subscribe);
                                                        $('#newsletter52991896 .unsubscribe').click(Unsubscribe);
                                                        $('#newsletter52991896 .email').keypress(function (e) {
                                                            if (e.which == 13) {
                                                                Subscribe();
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="advanced-grid advanced-grid-22028625  " style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                            <div style="">               <div class="container">
                                    <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="box box-with-products box-no-advanced"><div class="box-heading">Last in stock</div><div class="strip-line"></div><div class="clear"></div><div class="box-content products"><div class="clearfix" style="clear: both"><div class="medic-last-in-stock"><div class="product clearfix row"><div class="image col-sm-6 col-md-7 col-lg-8"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=42"><img src="http://fastortheme.com/medic/image/cache/catalog/demo/apple_cinema_30-750x307.jpg" alt="Apple Cinema 30&quot;"></a></div><div class="right col-sm-6 col-md-5 col-lg-4">                                   		<script>
                                                                            $(function () {
                                                                                var austDay = new Date();
                                                                                austDay = new Date(2020, 06 - 1, 27);
                                                                                $('#countdown5314540').countdown({until: austDay});
                                                                            });
                                                                        </script>
                                                                        <div id="countdown5314540" class="clearfix is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">49</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">12</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">2</span><span class="countdown-period">Min</span></span><span class="countdown-section"><span class="countdown-amount">43</span><span class="countdown-period">Sec</span></span></span></div>
                                                                        <div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=42">Apple Cinema 30"</a></div><div class="price">$110.00</div><a onclick="cart.add('42');" class="button">Add to Cart</a></div></div></div></div></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="advanced-grid advanced-grid-41530781 medic-products responsive-margin-top-30 " style="margin-top: 60px; margin-bottom: 0px; width: 1423px; left: -141.5px;">
                            <div style="background-image: url(image/catalog/medic/bg-top-rated.png);background-position: top center;background-repeat: no-repeat;background-attachment: fixed;">                         <div class="container" style="padding-left: 141.5px; padding-right: 141.5px;">
                                    <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 60px;padding-right: 0px;">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="box clearfix box-with-products ">
                                                    <div class="box-heading">Top rated by our customers</div>
                                                    <div class="strip-line"></div>
                                                    <div class="clear"></div>
                                                    <div class="box-content products">
                                                        <div class="box-product">
                                                            <div id="myCarousel35816566">
                                                                <!-- Carousel items -->
                                                                <div class="carousel-inner">
                                                                    <div class="active item"><div class="product-grid"><div class="row">	    				    			<div class="col-sm-3 col-xs-6  ">

                                                                                    <!-- Product -->
                                                                                    <div class="product clearfix product-hover">
                                                                                        <div class="left">
                                                                                            <div class="sale">Sale</div>

                                                                                            <div class="image ">
                                                                                                <a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=42">

                                                                                                    <img src="http://fastortheme.com/medic/image/cache/catalog/demo/apple_cinema_30-250x250.jpg" alt="Apple Cinema 30&quot;" class="">
                                                                                                </a>
                                                                                            </div>
                                                                                            <script>
                                                                                                $(function () {
                                                                                                    var austDay = new Date();
                                                                                                    austDay = new Date(2020, 06 - 1, 27);
                                                                                                    $('#countdown219852').countdown({until: austDay});
                                                                                                });
                                                                                            </script>
                                                                                            <div id="countdown219852" class="clearfix is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">49</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">12</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">2</span><span class="countdown-period">Min</span></span><span class="countdown-section"><span class="countdown-amount">43</span><span class="countdown-period">Sec</span></span></span></div>
                                                                                        </div>
                                                                                        <div class="right">
                                                                                            <div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=42">Apple Cinema 30"</a></div>
                                                                                            <div class="price">
                                                                                                <span class="price-old">$122.00</span> <span class="price-new">$110.00</span>
                                                                                            </div>
                                                                                            <div class="only-hover">
                                                                                                <ul>
                                                                                                    <li><a onclick="cart.add('42');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>


                                                                                                    <li><a onclick="compare.add('42');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>

                                                                                                    <li><a onclick="wishlist.add('42');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>	    			</div>
                                                                                <div class="col-sm-3 col-xs-6  ">

                                                                                    <!-- Product -->
                                                                                    <div class="product clearfix product-hover">
                                                                                        <div class="left">
                                                                                            <div class="sale">Sale</div>

                                                                                            <div class="image ">
                                                                                                <a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=30">

                                                                                                    <img src="http://fastortheme.com/medic/image/cache/catalog/demo/canon_eos_5d_1-250x250.jpg" alt="Canon EOS 5D" class="">
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="right">
                                                                                            <div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></div>
                                                                                            <div class="price">
                                                                                                <span class="price-old">$122.00</span> <span class="price-new">$98.00</span>
                                                                                            </div>
                                                                                            <div class="only-hover">
                                                                                                <ul>
                                                                                                    <li><a onclick="cart.add('30');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>


                                                                                                    <li><a onclick="compare.add('30');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>

                                                                                                    <li><a onclick="wishlist.add('30');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>	    			</div>
                                                                                <div class="col-sm-3 col-xs-6  ">

                                                                                    <!-- Product -->
                                                                                    <div class="product clearfix product-hover">
                                                                                        <div class="left">
                                                                                            <div class="new">New</div>

                                                                                            <div class="image ">
                                                                                                <a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=47">

                                                                                                    <img src="http://fastortheme.com/medic/image/cache/catalog/demo/hp_1-250x250.jpg" alt="HP LP3065" class="">
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="right">
                                                                                            <div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=47">HP LP3065</a></div>
                                                                                            <div class="price">
                                                                                                $122.00					</div>
                                                                                            <div class="only-hover">
                                                                                                <ul>
                                                                                                    <li><a onclick="cart.add('47');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>


                                                                                                    <li><a onclick="compare.add('47');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>

                                                                                                    <li><a onclick="wishlist.add('47');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>	    			</div>
                                                                                <div class="col-sm-3 col-xs-6  ">

                                                                                    <!-- Product -->
                                                                                    <div class="product clearfix product-hover">
                                                                                        <div class="left">
                                                                                            <div class="new">New</div>

                                                                                            <div class="image ">
                                                                                                <a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=48">

                                                                                                    <img src="http://fastortheme.com/medic/image/cache/catalog/demo/ipod_classic_1-250x250.jpg" alt="iPod Classic" class="">
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="right">
                                                                                            <div class="name"><a href="http://fastortheme.com/medic/index.php?route=product/product&amp;product_id=48">iPod Classic</a></div>
                                                                                            <div class="price">
                                                                                                $122.00					</div>
                                                                                            <div class="only-hover">
                                                                                                <ul>
                                                                                                    <li><a onclick="cart.add('48');" data-toggle="tooltip" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>


                                                                                                    <li><a onclick="compare.add('48');" data-toggle="tooltip" data-original-title="Add to compare"><i class="fa fa-exchange"></i></a></li>

                                                                                                    <li><a onclick="wishlist.add('48');" data-toggle="tooltip" data-original-title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>	    			</div>
                                                                            </div></div></div>    		</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <script type="text/javascript">
                            function force_full_width_41530781() {
                                var p = $(".standard-body .full-width .advanced-grid-41530781");
                                if(p.size() > 0) {
                                    p.width($('body').width());
                                    p.css("left", "0px");
                                    var position = p.offset();
                                    p.css("left", "-" + position.left + "px");
                                    p.find(".container").css("padding-left", position.left);
                                    p.find(".container").css("padding-right", position.left);
                                }

                                var s = $(".standard-body .fixed .advanced-grid-41530781");
                                if(s.size() > 0) {
                                    s.width($('.standard-body .fixed .pattern').width());
                                    s.css("left", "0px");
                                    var position = s.offset();
                                    var position2 = $('.standard-body .fixed .pattern').offset();
                                    var position3 = position.left-position2.left;
                                    s.css("left", "-" + position3 + "px");
                                    s.find(".container").css("padding-left", position3);
                                    s.find(".container").css("padding-right", position3);
                                }

                                var b = $(".standard-body .fixed2 .advanced-grid-41530781");
                                if(b.size() > 0) {
                                    b.width($('body').width());
                                    b.css("left", "0px");
                                    var position = b.offset();
                                    b.css("left", "-" + position.left + "px");
                                    b.find(".container").css("padding-left", position.left);
                                    b.find(".container").css("padding-right", position.left);
                                }

                                var c = $(".fixed-body .advanced-grid-41530781");
                                if(c.size() > 0) {
                                    c.width($('.fixed-body .main-fixed').width());
                                    c.css("left", "0px");
                                    var position = c.offset();
                                    var position2 = $('.fixed-body .main-fixed').offset();
                                    var position3 = position.left-position2.left;
                                    c.css("left", "-" + position3 + "px");
                                    c.find(".container").css("padding-left", position3);
                                    c.find(".container").css("padding-right", position3);
                                }
                            }

                            force_full_width_41530781();

                            $(window).resize(function() {
                                force_full_width_41530781();
                            });
                        </script>
                        <div class="box blog-module box-with-products box-no-advanced">
                            <div class="box-heading">News</div>
                            <div class="clear"></div>
                            <div class="box-content">

                                <div class="medic-news row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="media clearfix">
                                            <div class="thumb-holder">
                                                <a href="http://fastortheme.com/medic/index.php?route=blog/article&amp;article_id=27"><img alt="" src="http://fastortheme.com/medic/image/cache/catalog/1a-262x165.jpg"></a>
                                            </div>

                                            <div class="media-body">
                                                <div class="bottom">
                                                    <div class="date-published">16.09.2015</div>
                                                    <h5><a href="http://fastortheme.com/medic/index.php?route=blog/article&amp;article_id=27">Donec ut nunc sit amet urna aliquet</a></h5>
                                                    <div class="post-description">
                                                        Shop Laptop feature only the best laptop deals on the market. By comparing laptop deals from the likes of PC World, Comet, Dixons, The Link and Carphone Warehouse, Shop Laptop has the most comprehensive selection of laptops on the internet. At Shop Laptop, we pride ourselves on offering customers the very best laptop deals. From refurbished laptops to netbooks.                                 </div>

                                                    <a href="http://fastortheme.com/medic/index.php?route=blog/article&amp;article_id=27" class="button">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="media clearfix">
                                            <div class="thumb-holder">
                                                <a href="http://fastortheme.com/medic/index.php?route=blog/article&amp;article_id=18"><img alt="" src="http://fastortheme.com/medic/image/cache/catalog/1b-262x165.jpg"></a>
                                            </div>

                                            <div class="media-body">
                                                <div class="bottom">
                                                    <div class="date-published">16.09.2015</div>
                                                    <h5><a href="http://fastortheme.com/medic/index.php?route=blog/article&amp;article_id=18">Nulla dictum consequat lorem ac vehicula</a></h5>
                                                    <div class="post-description">
                                                        Shop Laptop feature only the best laptop deals on the market. By comparing laptop deals from the likes of PC World, Comet, Dixons, The Link and Carphone Warehouse
                                                    </div>

                                                    <a href="http://fastortheme.com/medic/index.php?route=blog/article&amp;article_id=18" class="button">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div style="height: 10px" class="hidden-xs"></div>											</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}