<div id="slider" class="full-width">
    <div class="background-slider"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <link rel="stylesheet" type="text/css" href="/catalog/view/theme/medic/rs-plugin/css/settings.css" property="stylesheet">
            <link rel="stylesheet" type="text/css" href="/catalog/view/theme/medic/rs-plugin/css/static-captions.css" property="stylesheet">
            <link rel="stylesheet" type="text/css" href="/catalog/view/theme/medic/rs-plugin/css/dynamic-captions.css" property="stylesheet">
            <link rel="stylesheet" type="text/css" href="/catalog/view/theme/medic/rs-plugin/css/captions.css" property="stylesheet">
            <link rel="stylesheet" type="text/css" href="/catalog/view/theme/medic/css/slider.css" property="stylesheet">
            <script type="text/javascript" src="/catalog/view/theme/medic/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
            <script type="text/javascript" src="/catalog/view/theme/medic/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
            <!-- START REVOLUTION SLIDER  fullwidth mode -->

            <div id="rev_slider_7_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 592px; height: 195px; overflow: visible;">
                <div id="rev_slider_7_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 592px; height: 195px;">
                    <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 592px;">	<!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;" class="active-revslide current-sr-slide-visible">
                            <!-- MAIN IMAGE -->
                            <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
                                <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://fastortheme.com/medic//catalog/view/theme/medic/images/transparent.png" data-src="http://fastortheme.com/medic//catalog/view/theme/medic/images/transparent.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://fastortheme.com/medic//catalog/view/theme/medic/images/transparent.png&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;">

                                </div>
                            </div>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-fade start" data-x="-105" data-y="0" data-speed="700" data-start="300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="700" style="z-index: 2; left: -34.5395px; top: 0px; backface-visibility: visible; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                <img src="http://fastortheme.com/medic/image/catalog/revslider_media_folder/4902733_medic-1.png" alt="" style="width: 444.079px; height: 194.737px;">
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption lft start" data-x="750" data-y="0" data-speed="1000" data-start="2200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 3; left: 246.711px; top: 0px; backface-visibility: visible; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                <img src="http://fastortheme.com/medic/image/catalog/revslider_media_folder/2259483_medic-2.png" alt="" style="width: 179.605px; height: 114.145px;">
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption medic_text_1 sfl tp-resizeme start" data-x="528" data-y="177" data-speed="700" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="700" style="z-index: 4; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 16px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 173.684px; top: 58.2237px; backface-visibility: visible; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                Equipment you need
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption medic_text_2 sfl tp-resizeme start" data-x="527" data-y="235" data-speed="700" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 5; max-width: 164.474px; white-space: normal; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 26px; left: 173.355px; top: 77.3026px; backface-visibility: visible; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                For your new cabinet
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sfl tp-resizeme start" data-x="528" data-y="404" data-speed="700" data-start="1800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 6; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 8px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 5px; left: 173.684px; top: 132.895px; backface-visibility: visible; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                <a href="#" class="button" style="transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 7px; border-width: 0px; margin: 1.64474px 0px; padding: 4px 13px; letter-spacing: 0px; font-size: 4px;">
                                    Read more
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important; width: 0%;"></div>
                    <div class="tp-loader spinner0" style="display: none;">
                        <div class="dot1"></div>
                        <div class="dot2"></div>
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>

                <script type="text/javascript">

                    /******************************************
                     -	PREPARE PLACEHOLDER FOR SLIDER	-
                     ******************************************/


                    var setREVStartSize = function() {
                        var	tpopt = new Object();
                        tpopt.startwidth = 1140;
                        tpopt.startheight = 592;
                        tpopt.container = jQuery('#rev_slider_7_1');
                        tpopt.fullScreen = "off";
                        tpopt.forceFullWidth="off";

                        tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});
                        tpopt.width=parseInt(tpopt.container.width(),0);
                        tpopt.height=parseInt(tpopt.container.height(),0);
                        tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;
                        if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;
                        if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;
                        if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;
                        if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}
                        if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}
                        tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));
                        if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;
                        if(tpopt.fullScreen=="on"){
                            tpopt.height=tpopt.bw*tpopt.startheight;
                            var cow=tpopt.container.parent().width();
                            var coh=jQuery(window).height();
                            if(tpopt.fullScreenOffsetContainer!=undefined){
                                try{
                                    var offcontainers=tpopt.fullScreenOffsetContainer.split(",");
                                    jQuery.each(offcontainers,function(e,t) {
                                        coh=coh-jQuery(t).outerHeight(true);
                                        if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight
                                    })
                                }catch(e){

                                }
                            }
                            tpopt.container.parent().height(coh);
                            tpopt.container.height(coh);
                            tpopt.container.closest(".rev_slider_wrapper").height(coh);
                            tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);
                            tpopt.container.css({height:"100%"});
                            tpopt.height=coh;
                        }else{
                            tpopt.container.height(tpopt.height);
                            tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);
                            tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
                        }
                    };

                    /* CALL PLACEHOLDER */
                    setREVStartSize();


                    var tpj=jQuery;

                    var revapi7;

                    tpj(document).ready(function() {

                        if(tpj('#rev_slider_7_1').revolution == undefined)
                            revslider_showDoubleJqueryError('#rev_slider_7_1');
                        else
                            revapi7 = tpj('#rev_slider_7_1').show().revolution(
                                {
                                    dottedOverlay:"none",
                                    delay:9000,
                                    startwidth:1140,
                                    startheight:592,
                                    hideThumbs:200,

                                    thumbWidth:100,
                                    thumbHeight:50,
                                    thumbAmount:1,


                                    simplifyAll:"off",

                                    navigationType:"none",
                                    navigationArrows:"none",
                                    navigationStyle:"round",

                                    touchenabled:"on",
                                    onHoverStop:"on",
                                    nextSlideOnWindowFocus:"off",

                                    swipe_threshold: 75,
                                    swipe_min_touches: 1,
                                    drag_block_vertical: false,



                                    keyboardNavigation:"off",

                                    navigationHAlign:"center",
                                    navigationVAlign:"bottom",
                                    navigationHOffset:0,
                                    navigationVOffset:20,

                                    soloArrowLeftHalign:"left",
                                    soloArrowLeftValign:"center",
                                    soloArrowLeftHOffset:20,
                                    soloArrowLeftVOffset:0,

                                    soloArrowRightHalign:"right",
                                    soloArrowRightValign:"center",
                                    soloArrowRightHOffset:20,
                                    soloArrowRightVOffset:0,

                                    shadow:0,
                                    fullWidth:"on",
                                    fullScreen:"off",

                                    spinner:"spinner0",

                                    stopLoop:"on",
                                    stopAfterLoops:0,
                                    stopAtSlide:1,

                                    shuffle:"off",

                                    autoHeight:"off",
                                    forceFullWidth:"off",


                                    hideTimerBar:"on",
                                    hideThumbsOnMobile:"off",
                                    hideNavDelayOnMobile:1500,
                                    hideBulletsOnMobile:"off",
                                    hideArrowsOnMobile:"off",
                                    hideThumbsUnderResolution:0,

                                    hideSliderAtLimit:0,
                                    hideCaptionAtLimit:0,
                                    hideAllCaptionAtLilmit:0,
                                    startWithSlide:0					});




                    });	/*ready*/

                </script>


                <div style="visibility:hidden;display:none" class="tp-leftarrow hidearrows tparrows round">
                    <div class="tp-arr-allwrapper">
                        <div class="tp-arr-iwrapper">
                            <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://fastortheme.com/medic//catalog/view/theme/medic/images/transparent.png);">

                            </div>
                            <div class="tp-arr-imgholder2">

                            </div>
                            <div class="tp-arr-titleholder">

                            </div>
                            <div class="tp-arr-subtitleholder">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="visibility:hidden;display:none" class="tp-rightarrow hidearrows tparrows round">
                    <div class="tp-arr-allwrapper">
                        <div class="tp-arr-iwrapper">
                            <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://fastortheme.com/medic//catalog/view/theme/medic/images/transparent.png);">

                            </div>
                            <div class="tp-arr-imgholder2">

                            </div>
                            <div class="tp-arr-titleholder">

                            </div>
                            <div class="tp-arr-subtitleholder">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</div>